<footer class="footer">
    <br><br><br><br>
    <div class="container text-center">
        <p>Sitio creado por Juan Álvarez - // PROYECTO</p>
        <p>GitHub: <a href="https://github.com/ja-alvarez" target="_blank">ja-alvarez</a></p>
    </div>
</footer>