<header>
    <h1 class="text-center">Página no disponible</h1>
</header>

<main class="container">
    <section>
        <p class="text-center">El recurso solicitado no se pudo encontrar.</p>
        <img class="d-block mx-auto" src="/img/gatoNegro.avif" alt="gato negro" width="35%">
    </section>
</main>